html,
body {
    font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 32;
}

.menu {
  display: flex;
  align-items: center;
}

/*.menu__item {
  width: 30px;
  height: 17px;
  font-size: 14px;
  padding-top: 51px;
  line-height: 16px;
}
*/

.main-content__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
}


.main-content__sibtitle {
  width: 367px;
  height: 43px;
  font-size: 18px;
  line-height: 21px;
}

.main-content__button{
  width: 209px;
  height: 44px;
  top: 531px;
  background: #0056EC;
  border-radius: 4px;
  color: #fff;
}
