body {
margin: 0;
}

.wrapper{
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'pt-serifbold', 'arial', 'helvetica','sans-serif';
  position: relative;
/* выриант для лого, если вставлять картинку
  width: 190px;
  height: 35px;
  background: url('img/logo.jpg')*/
}
.logo__circle {
  width: 28px;
  height: 28px;
  //border: dashed 1px red;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
font-family: 'Roboto', sans-serif;
}

.main-content__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
}

.main-content__sibtitle {
  font-size: 18px;
  line-height: 21px;
  font-family: 'Roboto';
}

.main-content__button{
  width: 209px;
  height: 44px;
  background: #0056EC;
  border-radius: 4px;
  color: #fff;
  font-family: 'Roboto';
}
